* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #000;
}

/* Header */
header{
  margin: 44px 0;
  padding: 0 24px;
}
.header{
  display: flex;
  justify-content: space-between;
}

/* Intro */
#introduction {
  padding: 0 24px;
}

/* Content 1st */
.content__1st {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 24px;
}

.content__1st span {
  background-color: #3649f8;
  padding: 0 5px;
  border-radius: 4px;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 800ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

.content__1st a {
  text-decoration: none;
  color: #fff;
}

/* Content 2nd */
.content__2nd a {
  color: #000;
}

.content__2nd {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.content__2nd span {
  color: #3649f8;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

/* Content 3rd */
.content__3rd {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: justify;
}

p .content__3rd {
  text-align: justify;
}

/* Line */
.line p {
  height: 1px;
  width: 100px;
  background: black;
  margin: 24px auto;
}

/* Oh My Work */
.h3_text h3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 24px;
}

/* Project */
#project {
  padding: 0 24px;
}

/* Project 1 */
.project1,
.project2 {
  margin-bottom: 80px;
}


/* Project */
.project_title a {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.project_sub_title {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #bababa;
}

.project1 img,
.project2 img,
.project3 img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.project_content {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: justify;
  color: #bababa;
  margin-top: 10px;
}

.see_more{
  display: flex;
  justify-content: space-between;
}

.project_see_more {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0em;
  color: #000;
}

.arrow img {
  width: 16px;
  height: 16px;
}

/* Footer */
.footer .line_end {
  margin: auto;
  height: 1px;
  width: 100px;
  background: black;
  text-align: center;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 8px;
}

.content_footer p {
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.content_footer p span {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}
